@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}
@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}
@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  line-height: 1.5;
}
@mixin iconsBox($val) {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

.contact {
  .heading {
    @include titleText(3rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    .box-ct {
      flex: 1 1 21rem;
    }
    .map {
      width: 100%;
    }
    .content {
      h3 {
        @include titleText(1.5rem);
        text-transform: uppercase !important;
      }
      p {
        @include graphText(1rem);
        i {
          font-weight: bold;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
