@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}
@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}
@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  line-height: 1.5;
}
@mixin iconsBox($val) {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  &:hover {
    background: var(--black);
    color: var(--white);
  }
}
.products {
  background: var(--light-bg);
  .heading {
    @include titleText(3rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
  }
  .box-container {
    @include grid(16rem);
    .box {
      text-align: center;
      padding: 1rem;
      background: var(--white);
      box-shadow: var(--box-shadow);
      border: var(--border);
      border-radius: 10px;
      cursor: pointer;
      img {
        // padding: 0 1rem;
        height: auto;
        width: 100%;
        border-radius: 10px !important;
        &:hover {
          transform: translateY(-1rem);
        }
      }
      h3 {
        @include titleText(1.5rem);
        padding-top: 1rem;
      }
    }
  }
}
@media (max-width: 1024px) {
  .products {
    .heading {
    }
    .box-container {
      @include grid(16rem);
      .box {
        // padding: 1.5rem;
        img {
          // padding: 0 1rem;
          height: auto;
          width: 100%;
          &:hover {
          }
        }
        h3 {
          @include titleText(1rem);
          padding-top: 1rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .products {
    .heading {
    }
    .box-container {
      @include grid(12rem);
      .box {
        // padding: 1.5rem 0;
        img {
          // padding: 0 1rem;
          height: auto;
          width: 100%;
          &:hover {
          }
        }
        h3 {
          @include titleText(1rem);
          padding-top: 1rem;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .products {
    .heading {
    }
    .box-container {
      @include grid(11rem);
      .box {
        // padding: 0.5rem 0;
        img {
          // padding: 0 1rem;
          height: auto;
          width: 100%;
          &:hover {
          }
        }
        h3 {
          @include titleText(0.8rem);
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .products {
    .heading {
    }
    .box-container {
      @include grid(9rem);
      .box {
        // padding: 0.5rem 0;
        img {
          // padding: 0 1rem;
          height: auto;
          width: 100%;
          &:hover {
          }
        }
        h3 {
          @include titleText(0.8rem);
        }
      }
    }
  }
}
