@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}
@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}
@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  line-height: 1.5;
}
@mixin iconsBox($val) {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  &:hover {
    background: var(--black);
    color: var(--white);
  }
}
.Fields {
  .heading {
    @include titleText(3rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
  }
  .field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    .box-1 {
      .image {
        height: 20rem;
        img {
          border-radius: 10px;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      flex: 1 1 20rem;
    }
    .box-2 {
      .image-text {
        border-radius: 10px;
        height: 100%;

        img {
          border-radius: 10px;
          height: 10rem;
          width: 100%;
          margin-bottom: 1rem;
          object-fit: cover;
          object-position: center;
          &:hover {
            transform: scale(1.05);
          }
        }
        .text-content {
          h4 {
            text-transform: uppercase;
            font-size: 1rem;
          }
          .show-more-less-clickable {
            color: var(--yellow);
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
          }
          .content-css {
            font-size: 0.9rem !important;
          }
        }
      }
      flex: 1 1 20rem;
    }
    .box-3 {
      .image-text {
        height: 100%;

        img {
          border-radius: 10px;
          height: 10rem;
          width: 100%;
          margin-bottom: 1rem;
          object-fit: cover;
          object-position: center;
          &:hover {
            transform: scale(1.05);
          }
        }
        .text-content {
          h4 {
            text-transform: uppercase;
            font-size: 1rem;
          }
          .show-more-less-clickable {
            color: var(--yellow);
            text-transform: uppercase;
            cursor: pointer;
          }
          .content-css {
            font-size: 0.9rem !important;
          }
        }
      }
      flex: 1 1 20rem;
    }
  }
}
@media (max-width: 1024px) {
  .Fields {
    .field {
      .box-1 {
        flex: 1 1 10rem;
        .image {
          img {
          }
        }
      }
      .box-2 {
        flex: 1 1 10rem;
        .image-text {
          img {
            height: 15rem;

            &:hover {
            }
          }
          .text-content {
            h4 {
            }
            .show-more-less-clickable {
            }
            .content-css {
            }
          }
        }
      }
      .box-3 {
        flex: 1 1 10rem;
        .image-text {
          img {
            height: 15rem;

            &:hover {
            }
          }
          .text-content {
            h4 {
            }
            .show-more-less-clickable {
            }
            .content-css {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Fields {
    .field {
      .box-1 {
        display: none;
        .image {
          img {
          }
        }
      }
      .box-2 {
        flex: 1 1 18rem;
        .image-text {
          img {
            height: 15rem;

            &:hover {
            }
          }
          .text-content {
            h4 {
            }
            .show-more-less-clickable {
            }
            .content-css {
            }
          }
        }
      }
      .box-3 {
        flex: 1 1 18rem;
        .image-text {
          img {
            height: 15rem;

            &:hover {
            }
          }
          .text-content {
            h4 {
            }
            .show-more-less-clickable {
            }
            .content-css {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
}
