@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}
@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}
@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  line-height: 1.5;
}
@mixin iconsBox($val) {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  &:hover {
    background: var(--black);
    color: var(--white);
  }
}
.about {
  .heading {
    @include titleText(3rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
  }
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    .box {
      flex: 1 1 21rem;
    }
    .image {
      text-align: center;
      img {
        border-radius: 10px;
        width: 70%;
      }
    }
    .content {
      h3 {
        @include titleText(2rem);
        text-transform: uppercase !important;
      }
      p {
        @include graphText(1rem);
        padding: 0.5rem 0;
      }
    }
  }
  .box-container {
    @include grid(10rem);
    .box {
      text-align: center;
      background: var(--light-bg);
      padding: 0.3rem 0;
      border-radius: 5px;
      &:hover {
        transform: scale(1.1);
        background: var(--yellow);
      }
      h3 {
        @include titleText(2rem);
      }
      p {
        @include graphText(1rem);
      }
    }
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
  .about {
    .heading {
    }
    .row {
      .box {
      }
      .image {
        img {
          width: 100%;
        }
      }
      .content {
        h3 {
          @include titleText(1.5rem);

          text-align: center;
        }
        p {
          @include graphText(0.9rem);
          padding: 0.1rem 0;
        }
      }
    }
    .box-container {
      @include grid(10rem);
      .box {
        text-align: center;

        &:hover {
        }
        h3 {
          @include titleText(1.3rem);
        }
        p {
          @include graphText(0.9rem);
        }
      }
    }
  }
}
