@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1rem;
}
@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}
@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  line-height: 1.5;
}
@mixin iconsBox($val) {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  text-align: center;
  cursor: pointer;
  &:hover {
    background: var(--black);
    color: var(--white);
  }
}
.partners {
  .heading {
    @include titleText(3rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
  }
  .image {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  // .image {
  //   height: 150px;
  //   display: flex;
  //   justify-content: center;
  //   cursor: pointer;
  //   img {
  //     height: auto;
  //     width: 100%;
  //   }
  // }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
  .partners {
    // .image {
    //   height: 50px !important;
    //   display: flex;
    //   justify-content: center;
    //   cursor: pointer;
    //   img {
    //     height: auto;
    //     width: 100%;
    //   }
    // }
    .image {
      height: 50px;
      width: 100px;

      img {
      }
    }
  }
}
